<template name="resetPassword">
  <form id="resetPasswordForm">
    <label class="fieldLabel" for="resetPasswordField">New password:</label>
    <input id="resetPasswordField" type="password" name="resetPasswordField" placeholder="New password...">
    <label class="fieldLabel" for="resetPasswordField2">Confirm new password:</label>
    <input id="resetPasswordField2" type="password"  name="resetPasswordField2" placeholder="Confirm new password...">
    <br>
    <input id="resetPasswordSubmit" class="basicButton" type="submit" value="Submit">
  </form>
</template>
