#slideshow {
    margin:0px auto 10px auto;
    width: 800px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    border-radius: 10px;
}

#slideshow img {
  max-width:800px;
  border-radius: 10px;
  display:none;
}

#slideshow img:first-child {
  display:block;
}
