<template name="order">
  <h1 class="pageHeader">Order Info</h1>
  <ul class="buttonGroup">
    {{> backButton}}
  </ul>
  <section class="infoText">
    <h2 class="orderPreviewLabel">Title:</h2>
    <p>{{order.name}}</p>
    <h2 class="orderPreviewLabel">Order Type:</h2>
    <p>{{order.type}}</p>
    <h2 class="orderPreviewLabel">Order Amount:</h2>
    <p>{{order.amount}}</p>
    <h2 class="orderPreviewLabel">Order Size:</h2>
    <p>{{order.width}}{{order.units}} x {{order.height}}{{order.units}}</p>
    <h2 class="orderPreviewLabel">Description:</h2>
    <p>{{order.description}}</p>
  </section>
</template>
