<template name="order">
  <h1 class="pageHeader">Order Info</h1>
  <ul class="buttonGroup">
    {{> backButton}}
  </ul>
  <div class="infoText">
    <h2 class="orderPreviewLabel">Title:</h2>
    <p>{{order.name}}</p>
    <h2 class="orderPreviewLabel">Order Type:</h2>
    <p>{{order.type}}</p>
    <h2 class="orderPreviewLabel">Order Amount:</h2>
    <p>{{order.amount}}</p>
    <h2 class="orderPreviewLabel">Order Size:</h2>
    <p>{{order.width}} {{order.units}}  {{order.height}}</p>
    <h2 class="orderPreviewLabel">Description:</h2>
    <p>{{order.description}}</p>
    <h2 class="orderPreviewLabel">Order Made By:</h2>
    <p>{{order.firstName}} {{order.lastName}}</p>
    <h2 class="orderPreviewLabel">Phone Number:</h2>
    <p>{{order.phoneNumber}}</p>
  </div>
</template>
