<head>
  <link rel="stylesheet" href="./userOrders.css">
</head>
<template name="userOrders">
  <br>
  <table class="userOrders">
    <tr class="tableRowTitles">
      <th class="tableHeader">Name</th>
      <th class="tableHeader">Date</th>
      <th class="tableHeader">Status</th>
      <th class="tableHeader"></th>
    </tr>
    {{#each userOrders}}
      <tr class="tableRow">
        <td class="tableInfo">{{name}}</td>
        <td class="tableInfo">{{formatDate createdAt}}</td>
        <td class="tableInfo">{{orderStatus}}</td>
        <td class="tableInfo"><a class="editMessage" href="/orderForm/{{_id}}">Edit</a></td>
      </tr>
    {{/each}}
  </table>
</template>
