<head>
  <link rel="stylesheet" href="./userOrders.css">
</head>
<template name="userOrders">
  <br>
    <table class="userOrders">
      <tr class="orderTableRowTitles">
        <th class="orderTableHeader">Name</th>
        <th class="orderTableHeader">Date</th>
        <th class="orderTableHeader" colspan="2">Status</th>
      </tr>
      {{#each userOrders}}
        <tr class="orderTableOrders">
          <td class="orderTableInfo">{{name}}</td>
          <td class="orderTableInfo">{{formatDate createdAt}}</td>
          <td class="orderTableInfo">{{orderStatus}}</td>
          <td class="orderTableInfo"><a class="editMessage" href="/orderForm/{{_id}}">Edit</a></td>
        </tr>
      {{/each}}
    </table>
</template>
