.orderFormTextField, .selectTypeOfOrder {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0px 0px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.hideOtherType {
  display: none;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0px 0px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.resetOrder, .newOrder, .saveOrder, .deleteOrder, .previewOrder {
  margin: 8px 0px 0px 8px;
}

.orderFormHeader {
  margin: 8px 0px 0px 8px;
  font-size: 2em;
}

.orderForm, .orderFormHeader {
  text-align: center;
  font-family: var(--mainFont);
}
