<template name="orderForm">
  <h1>Order Form</h1>
  <form class="orderForm">
    <input class="newOrder" type="button" namne="newOrder" value="New Order">
    <br>
    <input class="saveOrder" type="button" name="saveOrder" value="Save" {{disabled}}>
    <input class="deleteOrder" type="button" name="deleteOrder" value="Delete" {{disabled}}>
    <input class="resetOrder" type="button" name="resetOrder" value="Reset" {{disabled}}>
    {{#if order.markedForReview}}
      <input class="unsubmitOrder" type="button" name="unsubmitOrder" value="Unsubmit">
    {{else}}
      <input class="submitOrder" type="button" name="submitOrder" value="Submit" {{disabled}}>
    {{/if}}
    <br>
    <textarea class="orderFormTextField" placeholder="Insert the description of your order." rows="5" cols="40" maxlength="300" name="orderDescription" {{disabled}}>{{order.text}}</textarea>
    <br>
    <select class="selectTypeOfOrder" name="typeOfOrder" value="{{order.type}}" {{disabled}}>
      <option>Standard Paper</option>
      <option>Card Stock</option>
      <option>Business Card</option>
      <option>Banner</option>
      <option value="carDecal">Car Decal</option>
      <option>Other</option>
    </select>
    <input class="hideOtherType" type="text" name="otherTypeOfOrder" placeholder="Specify what you are looking for" {{disabled}}>
    <input class="orderFormTextField" type="text" name="firstName" placeholder="First Name" {{disabled}}>
    <input class="orderFormTextField" type="text" name="lastName" placeholder="Last Name" {{disabled}}>
    <input class="orderFormTextField" type="tel" name="phoneNumber" placeholder="Phone Number" {{disabled}}>
    <input class="orderFormTextField" type="email" name="emailAddress" placeholder="Email Address" {{disabled}}>
  </form>
</template>
