<template name="orderForm">
  <form class="orderForm">
    <ul class="buttonGroup">
      <li><input class="newOrder basicButton" type="button" name="newOrder" value="New Order"></li>
      <li>{{#if order.markedForReview}}
        <input class="unsubmitOrder basicButton" type="button" name="unsubmitOrder" value="Unsubmit">
      {{else}}
        <input class="submitOrder basicButton" type="button" name="submitOrder" value="Submit" {{disabled}}>
      {{/if}}</li>
    </ul>
    <ul class="buttonGroup">
      <li><input class="saveOrder basicButton" type="button" name="saveOrder" value="Save" {{disabled}}></li>
      <li><input class="deleteOrder basicButton" type="button" name="deleteOrder" value="Delete" {{disabled}}></li>
      <li><input class="resetOrder basicButton" type="button" name="resetOrder" value="Reset" {{disabled}}></li>
      <li><input class="previewOrder basicButton" type="button" name="previewOrder" value="Preview" {{disabled}}></li>
    </ul>
    <label class="fieldLabel" for="orderName">Order Name:</label>
    <input id="orderName" type="text" name="orderName" placeholder="Name of Order" value="{{order.name}}" {{disabled}}>
    <label class="fieldLabel" for="orderType">Order Type:</label>
    <select id="orderType" name="orderType" {{disabled}}>
      {{#each orderFormLinks}}
        <option role="option" value="{{title}}" {{selected}}>{{title}}</option>
      {{/each}}
      <option value="other">Other</option>
    </select>
    <label class="fieldLabel" id="orderOtherTypeLabel" for="orderOtherType">Specify (If Selected Other Above):</label>
    <input id="orderOtherType" type="text" name="otherTypeOfOrder" placeholder="Specify what you are looking for" value="{{order.type}}" {{disabled}}>
    <label class="fieldLabel" for="orderAmount">Order Amount:</label>
    <input id="orderAmount" type="number" name="orderQuantity" placeholder="Estimated amount" value="{{order.amount}}" {{disabled}}>
    <label class="fieldLabel" for="orderWidth">Order Width:</label>
    <input id="orderWidth" type="number" name="orderWidth" placeholder="Estimated width" value="{{order.width}}" {{disabled}}>
    <label class="fieldLabel" for="orderHeight">Order Height:</label>
    <input id="orderHeight" type="number" name="orderHeight" placeholder="Estimated height" value="{{order.height}}" {{disabled}}>
    <label class="fieldLabel" for="orderUnits">Measurement Units:</label>
    <select id="orderUnits" name="orderUnits" value="{{order.units}}" {{disabled}}>
      <option role="option" value="in" {{measureSelected 'in'}}>in</option>
      <option role="option" vvalue="ft" {{measureSelected 'ft'}}>ft</option>
      <option role="option" value="m" {{measureSelected 'm'}}>m</option>
      <option role="option" value="cm" {{measureSelected 'cm'}}>cm</option>
    </select>
    <label class="fieldLabel" for="orderDescription">Order Description:</label>
    <textarea id="orderDescription" placeholder="Insert the description of your order." rows="5" cols="40" name="orderDescription" {{disabled}}>{{order.description}}</textarea>
  </form>
</template>
