<template name="orderForm">
  <form class="orderForm">
    <ul class="buttonGroup">
      <li><input class="newOrder basicButton" type="button" namne="newOrder" value="New Order"></li>
      <li>{{#if order.markedForReview}}
        <input class="unsubmitOrder basicButton" type="button" name="unsubmitOrder" value="Unsubmit">
      {{else}}
        <input class="submitOrder basicButton" type="button" name="submitOrder" value="Submit" {{disabled}}>
      {{/if}}</li>
    </ul>
    <ul class="buttonGroup">
      <li><input class="saveOrder basicButton" type="button" name="saveOrder" value="Save" {{disabled}}></li>
      <li><input class="deleteOrder basicButton" type="button" name="deleteOrder" value="Delete" {{disabled}}></li>
      <li><input class="resetOrder basicButton" type="button" name="resetOrder" value="Reset" {{disabled}}></li>
      <li><input class="previewOrder basicButton" type="button" name="previewOrder" value="Preview" {{disabled}}></li>
    </ul>
    <input class="orderFormTextField" id="orderName" type="text" name="orderName" placeholder="Name of Order" {{disabled}}>
    <select class="selectTypeOfOrder" id="orderType" name="orderType" value="{{order.type}}" {{disabled}}>
      <option>Standard Paper</option>
      <option>Card Stock</option>
      <option>Business Card</option>
      <option>Banner</option>
      <option value="carDecal">Car Decal</option>
      <option>Other</option>
    </select>
    <input class="orderFormTextField" id="orderOtherType" type="text" name="otherTypeOfOrder" placeholder="Specify what you are looking for" {{disabled}}>
    <input class="orderFormTextField" id="orderQuantity" type="number" name="orderQuantity" placeholder="Estimated amount" {{disabled}}>
    <input class="orderFormTextField" id="orderWidth" type="number" name="orderWidth" placeholder="Estimated width" {{disabled}}>
    <input class="orderFormTextField" id="orderHeight" type="number" name="orderHeight" placeholder="Estimated height" {{disabled}}>
    <textarea class="orderFormTextField" id="orderDescription" placeholder="Insert the description of your order." rows="5" cols="40" maxlength="300" name="orderDescription" {{disabled}}>{{order.text}}</textarea>
    <br>
    <input class="orderFormTextField" id="orderFirstName" type="text" name="orderFirstName" placeholder="First Name" {{disabled}}>
    <input class="orderFormTextField" id="orderLastName" type="text" name="orderLastName" placeholder="Last Name" {{disabled}}>
    <input class="orderFormTextField" id="orderPhoneNumber" type="tel" name="orderPhoneNumber" placeholder="Phone Number" {{disabled}}>
  </form>
</template>
