.homePageBackground {
  background: var(--mainColor);
}

.orderFormLinksTemplateContainer {
  border-left: 30px double var(--thirdColor);
  border-right: 30px double var(--thirdColor);
  margin: 0px 10% 0px 10%;
}
