<head>
  <link rel="stylesheet" href="./orderFormLinksTemplate.css">
</head>
<template name="orderFormLinksTemplate">
  <ul class="imgList">
    {{#each orderFormLinks}}
      <li class="orderFormLinkImgWrap">
        <img class="orderFormLinkImg" src="/{{image}}" alt="Image for an order form link" style="width:{{linkSize}};height:{{linkSize}};">
        <a class="orderFormLinkDesc" id={{_id}} style="width:{{linkSize}};height:{{linkSize}};">
          <h3 class="orderFormLinkTitle">{{title}}</h3>
          <p class="orderFormLinkBody">{{body}}</p>
        </a>
      </li>
    {{/each}}
  </ul>
</template>
