.orderFormLinkItem {
  margin: 0 auto;
  display: inline;
}
.orderFormLinkDesc {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: rgba(153, 153, 153, 0);
}
.orderFormLinkImgWrap:hover .orderFormLinkDesc {
  visibility: visible;

  background-color: rgba(153, 153, 153, 0.67);
  cursor:pointer;
}

.orderFormLinkBody {
  text-align: center;
  font-family: var(--mainFont);
  padding:5%;
}

.orderFormLinkTitle {
  padding: 4px 0px 4px 0px;
  font-weight: bold;
  color: var(--secondColor);
  font-size:30px;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
}

.orderFormLinkBody {
  color:white;
  font-size:25px;
}

.imgList li {
  position: relative;
  display: inline-block;
  margin: 1% 1% 1% 1%;
}

.imgList {
  text-align:center;
}

.orderFormLinkImg, .orderFormLinkDesc {
  border-radius: 5px;
  width:325px;
  height:325px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
