.orderFormLinkItem {
  display: inline;
}
.orderFormLinkDesc {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
  line-height:325px;
}
.orderFormLinkImgWrap:hover .orderFormLinkDesc {
  visibility: visible;
  /* this is the var(--mainColor) with transparency */
  background-color: rgba(189, 68, 25, .75);
  cursor:pointer;
}

.orderFormLinkBody {
  text-align: center;
  font-family: var(--mainFont);
  padding:5%;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.orderFormLinkTitle {
  color: white;
  font-size:20px;
  padding:5px;
  background-color:var(--secondColor);
  position:absolute;
  top:325px;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-width:50%;
  max-width:90%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index:-20;
}

.orderFormLinkBody {
  color: var(--thirdColor);
  font-size:30px;
}

.imgList li {
  position: relative;
  display: inline-block;
  margin: 10px 10px 30px 10px;
}

.imgList {
  text-align:center;
}

.orderFormLinkImg, .orderFormLinkDesc {
  border-radius: 5px;
  width:325px;
  height:325px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
