.mainContainer {
  text-align:center;
}
.pageHeader, .secondaryPageHeader {
  margin: 10px;
  font-size: 2em;
  color: #545454; /* For IE, Safari and Opera */
  color:var(--thirdColor);
  text-decoration: underline;
  text-decoration-color: #dadada; /* For IE, Safari and Opera */
  text-decoration-color: var(--mainColor);
  display:block;
}

.secondaryPageHeader {
  font-size:1.3em;
}

.fieldLabel {
  display:block;
  margin-top:10px;
}

.fieldLabel + * {
  width: 50%;
  min-width:400px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.tableContainer {
  margin: 10px auto 10px auto;
}

.tableHeader, .tableInfo {
  padding: 10px;
}

.tableHeader {
    color:white;
}

.tableRow:nth-child(odd) {
  background-color: #dadada; /* For IE, Safari and Opera */
  background-color: var(--mainColor);
}

.tableHeader {
  background-color: #feaa2c; /* For IE, Safari and Opera */
  background-color: var(--secondColor);
}

.tableRow:last-child .tableInfo:first-child {
    border-bottom-left-radius: 5px;
}

.tableRow:last-child .tableInfo:last-child {
    border-bottom-right-radius: 5px;
}

.tableRowTitles:first-child .tableHeader:first-child {
  border-top-left-radius: 5px;
}

.tableRowTitles:first-child .tableHeader:last-child {
  border-top-right-radius: 5px;
}

.basicButton {
  color:white;
  display: inline-block;
  background-color: #feaa2c; /* For IE, Safari and Opera */
  background-color: var(--secondColor);
  border: none;
  border-radius:4px;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  margin:0;
  -webkit-appearance:none;
}

.buttonGroup {
  margin:5px;
}

.buttonGroup li {
  display:inline-block;
  margin:0;
}

.buttonGroup > :first-child * {
  border-radius:4px 0 0 4px;
}
.buttonGroup > :last-child * {
  border-radius:0 4px 4px 0;
}

.basicButton:hover {
  background-color: #f79400; /* For IE, Safari and Opera */
  background-color: var(--secondColorHighlight);
}

.basicButton:disabled {
  background-color: #e9b565; /* For IE, Safari and Opera */
  background-color: var(--secondColorDark);
}

.infoText  {
  margin: 0px auto 10px auto;
  width: 50%;
  min-width:500px;
  background-color: #feaa2c; /* For IE, Safari and Opera */
  background-color: var(--secondColor);
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  color:white;
}
