<template name="mainLayout">
  <head>
    <title> EternityWebsite </title>
  </head>
  <body>
    {{> banner}}
    {{> navigation}}
    {{> loginModal}}
    <main role="main" class="mainContainer">
      <!-- checks if the user clicked the reset password link-->
      {{#if resetPasswordToken}}
        {{> resetPassword}}
      {{else}}
        <!--This will show whatever page (about us, order form)-->
        {{> Template.dynamic template=page}}
      {{/if}}
    </main>
    {{> footer}}
  </body>
</template>
