<template name="orderFormLinkForm">
  <form class="orderFormLinkForm">
    <ul class="buttonGroup">
      <li>{{> backButton}}</li>
      <li><input class="submitOrderFormLink basicButton" type="button" name="submitOrderFormLink" value="Submit"></li>
    </ul>
    <input class="orderFormTextField" id="orderFormLinkTitle" type="text" name="orderFormLinkTitle" placeholder="Title of link" value="{{orderFormLink.title}}">
    <input class="orderFormTextField" id="orderFormLinkBody" type="text" name="orderFormLinkBody" placeholder="Description of link" value="{{orderFormLink.body}}">
  </form>
</template>
