<template name="orderFormLinkForm">
  <form class="orderFormLinkForm">
    <ul class="buttonGroup">
      <li>{{> backButton}}</li>
      <li><input class="submitOrderFormLink basicButton" type="button" name="submitOrderFormLink" value="{{#if orderFormLink}}Save{{else}}Submit{{/if}}"></li>
    </ul>
    <input class="orderFormTextField" id="orderFormLinkFormTitle" type="text" name="orderFormLinkFormTitle" placeholder="Title of link" value="{{orderFormLink.title}}">
    <input class="orderFormTextField" id="orderFormLinkFormBody" type="text" name="orderFormLinkFormBody" placeholder="Description of link" value="{{orderFormLink.body}}">
    <input class="orderFormTextField" id="orderFormLinkFormImage" type="text" name="orderFormLinkFormImage" placeholder="Image in background of link" value="{{orderFormLink.image}}">
  </form>
</template>
