#registerForm {
  padding: 2% 2% 2% 2%;
}

.emailRegister, .passwordRegister {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.registerButton {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--secondColor);
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2.5px;
}

.registerButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.registerButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.registerButton:hover span {
  padding-right: 12.5px;
}

.registerButton:hover span:after {
  opacity: 1;
  right: 0;
}

.switchToLogin:link {
  font-family: var(--mainFont);
  font-size: .7em;
  padding: 5px;
  text-decoration: none;
}

.switchToLogin:hover {
  text-decoration: underline;
}

label {
  font-family: var(--mainFont);
}
