<template name="registerModalContent">
  <form id="registerForm">
      <label>E-mail</label>
      <input class="emailRegister" type="email" name="registerEmail">
      <label>Password</label>
      <input class="passwordRegister" type="password" name="registerPassword">
      <label>Confirm password</label>
      <input class="passwordRegister" type="password" name="registerPassword2">
      <button type="submit" class="registerButton"><span>Register</span></button>
      <button class="switchToLogin" ><span>Already have an account? Login</span></button>
  </form>
</template>
