<template name="registerModalContent">
  <form id="registerForm">
      <label for="registerEmail">E-mail</label>
      <input class="emailRegister" type="email" name="registerEmail">
      <label for="passwordRegister">Password</label>
      <input class="passwordRegister" type="password" name="registerPassword">
      <label>Confirm password</label>
      <input class="passwordRegister" type="password" name="registerPassword2">
      <label for="registerFirstName">First Name</label>
      <input id="registerFirstName" type="text" name="firstName">
      <label for="registerLastName">Last Name</label>
      <input id="registerLastName" type="text" name="lastName">
      <label for="registerPhoneNumber">Phone Number</label>
      <input id="registerPhoneNumber" type="tel" name="registerPhoneNumber">

      {{> reCAPTCHA}}
      <button class="registerButton" type="submit"><span>Register</span></button>
      <p><a class="switchToLogin" href="">Already have an account? Login</a></p>
  </form>
</template>
