<template name="registerModalContent">
  <form id="registerForm">
      <label class="fieldLabel" for="registerEmail">E-mail</label>
      <input id="registerEmail" type="email" name="registerEmail">
      <label class="fieldLabel" for="registerPassword">Password</label>
      <input id="registerPassword" type="password" name="registerPassword">
      <label class="fieldLabel" for="registerPassword2">Confirm password</label>
      <input id="registerPassword2" type="password" name="registerPassword2">
      <label class="fieldLabel" for="registerFirstName">First Name</label>
      <input id="registerFirstName" type="text" name="firstName">
      <label class="fieldLabel" for="registerLastName">Last Name</label>
      <input id="registerLastName" type="text" name="lastName">
      <label class="fieldLabel" for="registerPhoneNumber">Phone Number</label>
      <input id="registerPhoneNumber" type="tel" name="registerPhoneNumber">

      {{> reCAPTCHA}}
      <button class="registerButton" type="submit"><span>Register</span></button>
      <p><a class="switchToLogin" href="">Already have an account? Login</a></p>
  </form>
</template>
