<head>
  <link rel="stylesheet" href="./footer.css">
</head>
<template name="footer">
  <footer class="footerInfo" role="contentinfo">
    <section id="copyrightInfo">
      <p><a class="returnToTop" href="#top" title="back to top">Back To Top</a></p>
      <p>Copyright Info.</p>
    </section>
    <br>
    <section class="footer-social-icons">
      <h4>Follow us on</h4>
      <ul class="socialIcons">
        <li><a class="social-icon" href=""> <i class="fa fa-facebook"></i></a></li>
        <li><a class="social-icon" href=""> <i class="fa fa-twitter"></i></a></li>
        <li><a class="social-icon" href=""> <i class="fa fa-rss"></i></a></li>
        <li><a class="social-icon" href=""> <i class="fa fa-youtube"></i></a></li>
        <li><a class="social-icon" href=""> <i class="fa fa-linkedin"></i></a></li>
        <li><a class="social-icon" href=""> <i class="fa fa-google-plus"></i></a></li>
      </ul>
    </section>
  </footer>
</template>
