.footerInfo {
    color: #FFC15E; /* For IE, Safari, and Opera */
    background-color: #1F1300; /* For IE, Safari, and Opera */
    color: var(--thirdColor);
    background: var(--mainColor);
    border-top: solid 2px var(--secondColor);
    font-family: var(--mainFont);
    text-align: center;
}

.returnToTop {
    text-decoration: none;

    color: #fff;
}

.returnToTop:hover{
    text-decoration:  underline;

    color: #FFC15E;
}
.footer-social-icons li {
  display:inline;
}
.fa {
  padding: 2%;
  font-size: 4vw;
  width: 4%;
  text-align: center;
  text-decoration: none;
  margin-bottom:5px;
  margin-top:5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 5px 0 0 5px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 0 5px 5px 0;
}
