<template name="allUsers">
  <table>
    <tr class="tableRowTitles">
      <th class="tableHeader">Email</th>
      <th class="tableHeader"></th>
    </tr>
    {{#each users}}
      <tr class="tableRow">
        {{#unless iteratedUserIsInRole "owner"}}
          <td class="tableInfo">
            {{#each emails}}
              {{address}}
            {{/each}}
          </td>
          <td class="tableInfo">
            <ul class="buttonGroup">
              {{#if isInRole "owner"}}
                <li>
                  {{#if iteratedUserIsInRole "normal"}}
                    <button class="promoteToAdmin basicButton">Promote to Admin</button>
                  {{else}}
                    <button class="demoteToNormal basicButton">Demote to Normal</button>
                  {{/if}}
                </li>
              {{/if}}
              {{#if iteratedUserIsInRole "normal"}}
                <li><button class="deleteUser basicButton">Delete User</button></li>
              {{else}}
                {{#if isInRole "owner"}}
                  <li><button class="deleteUser basicButton">Delete User</button></li>
                {{/if}}
              {{/if}}
            </ul>
          </td>
        {{/unless}}
      </tr>
    {{/each}}
  </table>
</template>
