<template name="allUsers">
  {{#each users}}
    {{#unless iteratedUserIsInRole "owner"}}
      {{#each emails}}
        {{address}}
      {{/each}}

      {{#if isInRole "owner"}}
        {{#if iteratedUserIsInRole "normal"}}
          <button class="promoteToAdmin">Promote to Admin</button>
        {{else}}
          <button class="demoteToNormal">Demote to Normal</button>
        {{/if}}
      {{/if}}
      {{#if iteratedUserIsInRole "normal"}}
        <button class="deleteUser">Delete User</button>
      {{else}}
        {{#if isInRole "owner"}}
          <button class="deleteUser">Delete User</button>
        {{/if}}
      {{/if}}
    {{/unless}}
  {{/each}}
</template>
