<template name="allOrders">
  <table class="tableContainer">
    <tr class="tableRowTitles">
      <th class="tableHeader">Order Name</th>
      <th class="tableHeader">Email</th>
      <th class="tableHeader">Type</th>
      <th class="tableHeader"></th>
    </tr>
    {{#each orders}}
      <tr class="tableRow">
        <td class="tableInfo">
          {{text}}
        </td>
        <td class="tableInfo">
          {{email}}
        </td>
        <td class="tableInfo">
          {{type}}
        </td>
        <td class="tableInfo">
            <ul class="buttonGroup">
              <li><button class="markAsReviewed basicButton">Mark As Reviewed</button></li>
              <li><button class="viewOrder basicButton">View</button></li>
            </ul>
        </td>
      </tr>
    {{/each}}
  </table>
</template>
