.aboutUsPage {
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.aboutUsPageHeader {
  font-size: 3em;
  font-family: var(--mainFont);
}

.mySlides {
  display:none;
}

.w3-left, .w3-right, .w3-badge {
  cursor:pointer;
}

.w3-badge {
  height:13px;
  width:13px;
  padding:0;
}
