.meteorAlert {
  top:0;
  left:0;
  position:absolute;
  width:100%;
  z-index: 2;
  color:blue;
  font-size: 2em;
  background-color: var(--mainColor);
  padding: 10px 10px 10px 10px;
  font-family: var(--mainFont);
}
.meteorAlertVisible {
  display:block;
}
.meteorAlertHidden {
  display:none;
}

.meteorAlertWarning {

}

.meteorAlertSuccess {

}
