.meteorAlert {
  top:0;
  left:0;
  position:absolute;
  width:100%;
  z-index: 2;
  color:blue;
  font-size: 100px;
  background-color:red;
}
.meteorAlertVisible {
  display:block;
}
.meteorAlertHidden {
  display:none;
}
