<head>
  <link rel="stylesheet" href="./banner.css">
</head>
<template name="banner">
  <header role="banner">
    <section class="imageContainer" style="height:{{bannerHeight}}px;">
      <img src="/hubble.jpg">
      <section id="bannerInfo" style="height:{{bannerInfoHeight}}px;margin-top:{{bannerInfoMargin}}px;">
        <img id="logo" src="/stockLogo.png" />
        <p id="logoInfo">The eternity website banner information goes here.</p>
      </section>
    </section>
  </header>
</template>
