<head>
  <link rel="stylesheet" href="./banner.css">
</head>
<template name="banner">
  <header role="banner">
    <section id="backgroundImageContainer" style="height:{{bannerHeight}}px;">
      <img src="/hubble.jpg">
      <section id="bannerInfo" style="height:{{bannerInfoHeight}}px;margin-top:{{bannerInfoMargin}}px;">
        <img id="logo" src="/stockLogo.png"/>
        <p id="logoInfo" style="font-size:{{titleFontSize}}px">Eternity Printing</p>
      </section>
    </section>
  </header>
</template>
