#bannerInfo {
  margin-left: 10%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  font-size: 24px;
}

.imageContainer {
  width: 100%;
  overflow:hidden;
}

#logo {
  max-width:90%;
  max-height:90%;
  display:inline-block;
}
#logoInfo {
  display:inline-block;
}
