#bannerInfo {
  position: absolute;
  top: 0;
  left: 0;

  width: 80%;

  margin-left: 10%;

  border-radius:10px;
  background-color: rgba(255, 255, 255, 0.8);
}

#backgroundImageContainer {
  overflow:hidden;

  width: 100%;
}

#logo {
  /* centers object vertically */
  position:relative;
  top:50%;

  float:left;

  max-width:90%;
  max-height:90%;
  margin-right:1.5%;
  margin-left:1.5%;

  transform: translateY(-50%);
}
#logoInfo {
  display:inline-block;
  display: flex;
  /* centers text vertically */

  height:100%;

  color: #FFC15E; /* For IE, Safari, and Opera */
  color: var(--thirdColor);

  font-family: monospace;

  align-items: center;
}
