#bannerInfo {
  margin-left: 10%;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
}

.imageContainer {
  width: 100%;
  overflow:hidden;
}

#logo {
  max-width:90%;
  max-height:90%;
  display:inline-block;
}
#logoInfo {
  display:inline-block;
  font-size: 6em;
  color: rgb(226, 132, 35);
}
