.modalBackground {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.loginModalHeader {
  padding: 2%;
  background-color: var(--secondColor);
  text-align: right;
  font-family: var(--mainFont);
  border-radius:4px 4px 0 0;
}

.loginModalFooter {
  padding: 1%;
  background-color: var(--secondColor);
  display: block;
  text-align: left;
  font-family: var(--mainFont);
  border-radius:0 0 4px 4px;
}

.loginModal {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  min-height: 30px;
  border-radius:10px;
}

.closeLoginModal {
  color: #aaa;
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
}

.closeLoginModal:hover,
.closeLoginModal:focus { /* TODO: look up focus */
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.h1FloatLeft {
  text-align: left;
}
