.modalBackground {
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.loginModalHeader, .loginModalFooter {
  color:white;
  padding:2%;
  background-color: #feaa2c; /* For IE, Safari and Opera */
  background-color: var(--secondColor);
}

.loginModalHeader {
  font-size:2em;
  text-align: right;
  border-radius:4px 4px 0 0;
}

.loginModalFooter {
  display: block;
  text-align: left;
  border-radius:0 0 4px 4px;
}

.loginModal {
  font-family: var(--mainFont);
  background-color: #fefefe;
  margin: 3% auto; /* 15% from the top and centered */
  border-radius:10px;
  width:450px;
}

.closeLoginModal {
  color: #aaa;
  font-weight: bold;
  display: inline-block;
}

.closeLoginModal:hover,
.closeLoginModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.h1FloatLeft {
  text-align: left;
}

.forgotPassword:link {
  font-family: var(--mainFont);
  font-size: .7em;
  text-decoration: none;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.modalContentHolder {
  padding:2%;
}

#forgotPasswordForm {
  margin-top:5px;
  display:none;
}

#forgotPasswordEmail {
  width: 300px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#forgotPasswordSubmit {
  padding:10px;
}
