<head>
  <link rel="stylesheet" href="./loginModal.css">
</head>
<template name="loginModal">
{{#if showLoginModal}}
  <div class="modalBackground">
    <div class="loginModal">
      <header class="loginModalHeader">
        <span class="closeLoginModal">&times;</span>
        <div class="h1FloatLeft">
          <h1>{{loginModalHeader}}</h1>
        </div>
      </header>
      {{#if showLoginModalContent}}
        {{> loginModalContent}}
      {{else}}
        {{> registerModalContent}}
      {{/if}}
      <footer class="loginModalFooter">
        <p>Eternity Trading Group</p>
      </footer>
    </div>
  </div>
{{/if}}
</template>
