<template name="loginModal">
{{#if showLoginModal}}
  <div class="modalBackground">
    <div class="loginModal">
      <header class="loginModalHeader">
        <span class="closeLoginModal">&times;</span>
        <div class="h1FloatLeft">
          <h1>{{loginModalHeader}}</h1>
        </div>
      </header>
      <div class="modalContentHolder">
        {{#if showLoginModalContent}}
          {{> loginModalContent}}
        {{else}}
          {{> registerModalContent}}
        {{/if}}
        <form id="forgotPasswordForm">
          <input id="forgotPasswordEmail" type="email" placeholder="Enter email here...">
          <input id="forgotPasswordSubmit" class="basicButton" type="submit" value="Submit">
        </form>
        <p><a class="forgotPassword" href="">Forgot/want to change password? Click here</a></p>
      </div>
      <footer class="loginModalFooter">
        <p>Eternity Trading Group</p>
      </footer>
    </div>
  </div>
{{/if}}
</template>
