<head>
  <link rel="stylesheet" href="./navigation.css">
</head>
<template name="navigation">
  <nav role="navigation" class="navbar">
    <div class="loginButtons">
      <button class="loginButton"><span>Login</span></button>
      <button class="loginButton"><span>Register</span></button>
    </div>
    <ul class="navLinks">
      <li><a href="http://google.com" title="Home">Home</a></li>
      <li><a href="http://google.com" title="Products">Products</a></li>
      <li><a href="http://google.com" title="About Us">About Us.</a></li>
    </ul>
  </nav>
</template>
