
/* used by javascript */
.navbarFixed {
  position: fixed;
  top: 0;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #dadada; /* For IE, Safari and Opera */
  background-color: var(--mainColor);
  border-bottom-color: #feaa2c; /* For IE, Safari and Opera */
  border-bottom: solid 2px var(--secondColor);
}

#navLinksDesktop {
  display:inline-block;

  padding: 10px 20px 10px 20px;

  font-family: var(--mainFont);
  font-size: 22px;
}

#navLinksDesktop li {
  display: inline-block;

  margin-top: 4px;

  float: left;
  cursor: pointer;
}

#navLinksDesktop li a {
  margin-right: 20px;
  margin-left: 20px;

  padding: 0 15.5px;

  transition: all 0.45s;
	text-decoration: none;

  color: #545454; /* For IE, Safari and Opera */
  color: var(--thirdColor);
}

#navLinksDesktop li:hover a {
  color: #feaa2c; /* For IE, Safari and Opera */
  color: var(--secondColor);
}
#mobileNav {
  display:none;
}
@media only screen and (max-device-width: 736px), (max-width:600px) {
  #navLinksDesktop {
    display: none;
  }
  #mobileNav {
    display: block;
  }
}

#navLinksMobile {
  text-align:center;
  position:absolute;
  right:0px;
  width:300px;
  z-index:1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-left-radius:10px;
  display:none;
}

#navLinksMobile li:last-child {
  border-bottom-left-radius:10px;
}

#navLinksMobile li {
  background-color: #feaa2c; /* For IE, Safari and Opera */
  background-color:var(--secondColor);
  border-bottom-color: #dadada /* For IE, Safari and Opera */
  border-bottom:solid 3px var(--mainColor);
}

#navLinksMobile li a {
  color:white;
  text-decoration:none;
  font-size:3em;
  padding:5px;
  display:block;
}

#mobileTripleBar {
  line-height:100px;
  display: block;
  float:right;
  font-size:3em;
  color: #545454; /* For IE, Safari and Opera */
  color:var(--thirdColor);
  margin-right:20px;
  text-decoration:none;
  cursor:pointer;
}
