/* used by javascript */
.navbarFixed {
  position: fixed;
  z-index: 100;
  top: 0;
}

.navbar {
  width: 100%;

  background-color: #1F1300; /* For IE, Safari and Opera */
  background-color: var(--mainColor);
}

#navLinks {
  display:inline-block;

  padding: 10px 20px 10px 20px;

  text-transform: uppercase;

  font-family: "Comic Sans MS";
  font-size: 22px;
  font-weight: bold;
}

#navLinks li {
  display: inline-block;

  margin-top: 4px;
}

#navLinks li a {
  margin-right: 20px;
  margin-left: 20px;
  padding: 0 15.5px;

  transition: all 0.45s;
	text-decoration: none;

  color: #FFC15E; /* For IE, Safari and Opera */
  color: var(--thirdColor);
}

#navLinks li:hover a {
  color: #CC5803;
}
/* login/register buttons
.loginButton {
  cursor: pointer;
  float:right;
  display: block;
  border-radius: 2px;
  background-color: #f4511e;
  background-color: var(--secondColor);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  margin: 2.5px;
}

.loginButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.45s;
}

.loginButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.loginButton:hover span {
  padding-right: 12.5px;
}

.loginButton:hover span:after {
  opacity: 1;
  right: 0;
}
*/

li:last-child {
  float:right;
}


nav #login {
  position: relative;

  display: block;

  text-align: left;
}

nav #login-trigger {
  text-decoration: none;

  color: #591f1f;

  font-weight: bold;
  line-height: 25px;
}

nav #login-trigger {
  border-radius: 3px;
}

nav #login-content {
  position: absolute;
  z-index: 999;
  top: 24px;
  right: 0;

  display: none;

  margin-top: 10px;
  padding: 15px;

  border-radius: 3px 0 3px 3px;
  background: #fff;
  background-image: linear-gradient(top, #fff, #eee);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
}

nav li #login-content {
  right: 0;

  width: 250px;
}

/*--------------------*/

#inputs input {
  width: 238px;
  margin: 0 0 5px 0;
  padding: 6px 5px;

  border: 1px solid #ccc;
  border-radius: 3px;
  background: #f1f1f1;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  border-color: #e8c291;
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
  margin: 10px 0 0 0;
}

#login #submit {
  float: left;

  width: 100px;
  height: 30px;
  padding: 0;

  cursor: pointer;

  color: #fff;
  border: 1px solid #7e1515;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #d14545;
  background-image: linear-gradient(top, #e97171, #d14545);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);

  font: bold 14px Arial, Helvetica;
}

#login #submit:hover,
#login #submit:focus {
  background-color: #e97171;
  background-image: linear-gradient(top, #d14545, #e97171);
}

#login #submit:active {
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;

  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}
