<head>
<link rel="stylesheet" href="./navigation.css">
</head>
<template name="navigation">
  <nav class="navbar" role="navigation">
    <ul id="navLinksDesktop">
      <li><a href="/" title="Home">Home</a></li>
      <li><a href="/orderForm/none" title="Products">Products</a></li>
      <li><a href="/aboutUs" title="About Us">About Us.</a></li>
      {{> loginButtons}}
    </ul>
    <div id="mobileNav">
      <img id="logoNav" src="/eternityLogo.png" alt="Eternity Trading Group Logo">
      <div id="mobileMenu">
              <!--<a href="#">☰</a>-->
      </div>
    </div>
  </nav>
</template>
