/* used by javascript */
.navbarFixed {
  position: fixed;
  z-index: 100;
  top: 0;
}

.navbar {
  width: 100%;

  background-color: #1F1300; /* For IE, Safari and Opera */
  background-color: var(--mainColor);
}

#navLinks {
  display:inline-block;

  padding: 10px 20px 10px 20px;

  text-transform: uppercase;

  font-family: "Comic Sans MS";
  font-size: 22px;
  font-weight: bold;
}

#navLinks li {
  display: inline-block;

  margin-top: 4px;
}

#navLinks li a {
  margin-right: 20px;
  margin-left: 20px;
  padding: 0 15.5px;

  transition: all 0.45s;
	text-decoration: none;

  color: #FFC15E; /* For IE, Safari and Opera */
  color: var(--thirdColor);
}

#navLinks li:hover a {
  color: #CC5803;
}
